[Unit]
Description=LED websocket service
After=multi-user.target

[Service]
Type=simple
Restart=always
ExecStart=/usr/bin/python3 /tmp/system-service/led-websocket.py

[Install]
WantedBy=multi-user.target